@font-face {
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: normal;
  src: local("Trebuchet MS"), url("../fonts/trebuc.woff") format("woff"); }

html {
  font-family: 'Trebuchet MS', sans-serif !important;
  line-height: 0; }
  @media (min-width: 1500px) {
    html {
      background-color: #fff; } }

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }

@-webkit-keyframes hearthbeat {
  from {
    -webkit-transform: scale(1); }

  0% {
    -webkit-transform: scale(1.2); }

  50% {
    -webkit-transform: scale(0.8); }

  50% {
    -webkit-transform: scale(1); }

  to {
    -webkit-transform: scale(1.4); } }

@-moz-keyframes hearthbeat {
  from {
    -moz-transform: scale(1); }

  0% {
    -moz-transform: scale(1.2); }

  50% {
    -moz-transform: scale(0.8); }

  50% {
    -moz-transform: scale(1); }

  to {
    -moz-transform: scale(1.4); } }

@-o-keyframes hearthbeat {
  from {
    -o-transform: scale(1); }

  0% {
    -o-transform: scale(1.2); }

  50% {
    -o-transform: scale(0.8); }

  50% {
    -o-transform: scale(1); }

  to {
    -o-transform: scale(1.4); } }

@keyframes hearthbeat {
  from {
    transform: scale(1); }

  0% {
    transform: scale(1.2); }

  50% {
    transform: scale(0.8); }

  50% {
    transform: scale(1); }

  to {
    transform: scale(1.4); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-o-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

.hearth-beat {
  -webkit-animation: hearthbeat 1s infinite linear;
  -moz-animation: hearthbeat 1s infinite linear;
  animation: hearthbeat 1s infinite linear; }

.fade_in_easy {
  -webkit-animation: fadeIn 0.3s ease-in;
  -moz-animation: fadeIn 0.3s ease-in;
  animation: fadeIn 0.3s ease-in; }

.fade_out_easy {
  -webkit-animation: fadeOut 0.3s ease-in;
  -moz-animation: fadeOut 0.3s ease-in;
  animation: fadeOut 0.3s ease-in; }
